.embla-container {
  width: 100%;
  margin: 50px auto;
  overflow: hidden;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 12px;
}

.embla__slide {
  position: relative;
  min-width: 100%;
}

.embla__img {
  width: 1000px;
  height: 400px;        
  object-fit: cover; 
  /* border-radius: 12px; */
}
